<!DOCTYPE html>
<html ng-app="ShoppingListApp">
<head>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<script src="filter.js"></script>
	<title> Filter array example</title>
	<style type="text/css">
		body{font-size: 1.2em}
	</style>
</head>
<body>
	<h1>Filter array example</h1>
	<div ng-controller="ShoppingListController">

		<!-- ShoppingList #1 -->
		<input type="text" ng-model="search">
		<ul>
			<li ng-repeat="item in ShoppingList1 | filter: search"> {{item}}</li>
		</ul>


</body>
</html>